Repository eu-digital-identity-wallet/eudi-lib-jvm-openid4vci-kt, pull requests merged in 2024-08, with the labels that each got.

#300 Update setup-gradle github action
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: github_actions

#303 Mark as deprecated Batch EndPoint and CWT Proofs
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/CredentialConfiguration.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/CredentialIssuerMetadataResolver.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/Issuance.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/Proof.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/ProofBuilder.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/http/CredentialIssuerMetadataJsonParser.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/CryptoGenerator.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/internal/ProofBuilderTest.kt
Labels: openid4vci alignment

#305 README: Remove reference to deprecated method.
  README.md
Labels: documentation

#281 Support attestation-based client authentication
  README.md
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/ClientAttestation.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/Config.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/DeferredIssuer.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/Issuer.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/AttestationBasedClientAuthentication.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/RequestIssuanceImpl.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/http/AuthorizationEndpointClient.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/http/TokenEndpointClient.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/TestUtils.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/examples/DeferredIssuerExtensions.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/examples/OfferBasedIssuanceUsingPreAuthorizationFlow.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/examples/PidDevIssuer.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/examples/SelfSignedClientAttestation.kt
Labels: feature, haip
