Repository eu-digital-identity-wallet/eudi-lib-jvm-openid4vci-kt, pull requests merged in 2025-09, with the labels that each got.

#457 Bump Sonarqube scan GitHub action to 5.3.1
  .github/workflows/sonar.yml
Labels: github_actions

#458 Improve reliability and maintainability
  build.gradle.kts
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/DPoP.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/DeferredIssuer.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/Issuance.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/Types.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/AttestationBasedClientAuthentication.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/JwtSigner.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/RequestIssuanceImpl.kt
Labels: improvement

#461 Add `TransactionId` in `DeferredCredentialQueryOutcome.IssuancePending`.
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/Issuance.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/QueryForDeferredCredential.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/http/CredentialEndpointClient.kt
  src/main/kotlin/eu/europa/ec/eudi/openid4vci/internal/http/IssuanceRequestJsonMapper.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/IssuanceDeferredRequestTest.kt
  src/test/kotlin/eu/europa/ec/eudi/openid4vci/RequestMockers.kt
Labels: feature, openid4vci alignment, draft 17
